body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://static.vecteezy.com/system/resources/previews/001/431/537/non_2x/modern-eleganct-blue-background-free-vector.jpg");
}

.grid{
    display: grid; 
    grid-template-columns: auto auto auto; 

    justify-items: center;
 
}

.center-text{
    text-align: center;
}

.all-buttons{
    border-radius: 40px;
    
    font-size: 16px;
}

.small-image{
    width: 70%;

}

.gifs{
    height: 250px;
    width: 1100px;
}