.title{
    text-align:center;

    font-size: 120px;

    margin-bottom: 0px;

    margin-top: 0px;
}

.studios{

    text-align: end;

    margin-right: 25%;

    margin-top: 0px;

    margin-bottom: 0px;
}
.welcome{
    text-align: center;

    color:red;

    font-size: 30px;
}

.center-text{
    text-align: center;
}

.no-margin{
    margin-bottom: 0px;
    margin-top: 0px;
}

.center-img{
    margin-left: 380px;
    margin-right: 380px;
}

.orange-red{
    color: orangered;
}

.margin-about-pixar{
    margin-left: 420px;
}

.margin-interactive{
    margin-left: 4px;
    margin-right: 6px;
}

.font-size-small{
    font-size: 12px;
}

.no-bottom-margin{
    margin-bottom: 0px;
}


